<div class="container accordion-wrap">
  <div class="row">
    <div class="col-md-12">
      <div>
        <button class="btn btn-primary accordion-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <span>What is Lorem Ipsum?</span>
         <!-- <span class="arrow" *ngIf="show">&#9660;</span>
         <span class="arrow" *ngIf="!show">&#9650;</span> -->
        </button>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
